{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Licenças Disponíveis</h2>
        <a href="{{ url_for('export_licencas') }}" class="btn btn-success">📥 Exportar Excel</a>
    </div>

    <div class="mb-3">
    <a href="{{ url_for('change_password') }}" class="btn btn-warning">🔑 Trocar Senha</a>
    </div>


    {% if licencas %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>User ID</th>
                    <th>Responsável</th>
                    <th>Setor</th>
                    <th>Representante</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>Código Manutenção</th>
                    <th>Nome do Computador</th>
                </tr>
            </thead>
            <tbody>
                {% for licenca in licencas %}
                <tr>
                    <td>{{ licenca.user_id }}</td>
                    <td>{{ licenca.responsavel }}</td>
                    <td>{{ licenca.setor }}</td>
                    <td>{{ licenca.representante }}</td>
                    <td>{{ licenca.cidade }}</td>
                    <td>{{ licenca.estado }}</td>
                    <td>{{ licenca.tipo }}</td>
                    <td>{{ licenca.codigo_manutencao }}</td>
                    <td>{{ licenca.nome_computador }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-warning">Nenhuma licença encontrada.</div>
    {% endif %}
</div>
{% endblock %}
